<div class="container">
	<h1 id="title">Welcome to Dead Presidents</h1>
	<h2 id="subtitle">E Pluribus Textus</h2>
	<p id="instruction">Send your friend a slightly authentic message from a former U.S. president.</p>
	<form action="/confirmation" method="get">
		<p><input type="text" name="recipient" placeholder="Enter recipient's name"></p>
		<p><input type="text" name="phone_number" placeholder="Enter phone number"></p>
		<input type="Submit">
	</form>
</div>
